@font-face {
    font-family: 'Kanit';
    src: url('kanit-regular.woff2') format('woff2'),
         url('kanit-regular.woff') format('woff');
         font-style: normal;
         font-weight: 400;
         font-display: swap;
}
 @font-face {
    font-family: 'Kanit';
    src: url('kanit-light.woff2') format('woff2'),
         url('kanit-light.woff') format('woff');
         font-style: normal;
         font-weight: 300;
         font-display: swap;
}
/* @font-face {
    font-family: 'Kanit';
    src: url('kanit-italic.woff2') format('woff2'),
         url('kanit-italic.woff') format('woff');
    font-weight: normal;
    font-weight: 300;
    font-display: swap;

}  */